/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
  width: 880px;
  margin: 0 auto;
  justify-content: center;
}
a:hover {
  background-color: darkviolet;
  color: white;
}

header {
  width: 98%;
  padding: 20px auto;
  display: flex;
  justify-content: space-between;
}

nav {
  color: blueviolet;
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}

nav a {
  text-decoration: none;
  padding: 0.75%;
}
.logo {
  width: 20%;
}
/* ---TOP CONTENT--- */
main {
  background-color: black;
}
.Profile {
  display: flex;
  flex-flow: row;
  background-color: white;
  padding: 20px;
  border: 3px dashed blueviolet;
  margin: 2.5%;
}
h1 {
  font-size: 80px;
}
.Profile img {
  height: 85%;
}
/* ----MIDDLE SECTION---- */
.content {
  display: flex;
  flex-flow: wrap;
}
.content a {
  text-decoration: none;
  color: aliceblue;
}
.content h2 {
  font-size: 50px;
}
.content div {
  height: 50%;
  width: 45%;
  margin: 2.5%;
  padding: 20px;
  background-color: blueviolet;
  color: aliceblue;
  border: 3px solid purple;
  display: flex;
  flex-flow: wrap;
  text-decoration: none;
}
.p-content {
  display: flex;
  justify-content: center;
}
.p-content div img {
  width: 50%;
  height: 20%;
}

div img {
  width: 50%;
  height: 50%;
}

footer nav a {
  background-color: black;
  color: aliceblue;
}
/*   ---SECTION CONTENT---- */

/*    ----Composite Photograghy page--- */

.image-restore h2 {
  font-size: 60px;
  margin: 10px;
}
.image-restore {
  display: flex;
  /* align-items: center; */
  flex-flow: wrap;
  margin: 0 10%;
}
.image-restore div {
  width: 100%;
  padding: 20;
  display: flex;
  justify-content: center;
  margin: 5%;
}
.image-restore div image {
  padding: 30px;
  width: 30%;
 }
.image-restore div span {
  padding: 25px;
  width: 30%;
}

/*  ---Photo Restoration---- */
.title {
  text-align: center;
}
.image-restore div {
  background-color: blueviolet;
  padding: 20px;
  margin: 2.5%;
} 
.image-restore div img {
  width: 40%;
}

/*  ---- Composite Photograghy< ------ */
.composite section {
  padding: 10px;
  margin: 2.5%;
  background-color: blueviolet;
  color: white;
  border: 3px dashed black; 
  text-align: center;
}
.composite section p {
  padding: 20px;
  margin: 2.5%;
}

.image2 img {
  width: 45%;
  
  
}
